version: '3.7'

services:
  postgres:
    image: postgres
    container_name: postgres_container
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_dB: car_sale_db
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres
    ports:
      - "5432:5432"
    networks:
      - webapi_network
    restart: unless-stopped


  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: kirashnaaderi@gmail.com
      PGADMIN_DEFAULT_PASSWORD: 123456
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - "8090:80"
    networks:
      - webapi_network
    restart: unless-stopped
    depends_on:
      - postgres


  redis:
      image: redis:7.2-alpine
      container_name: redis_container
      command: redis-server /usr/local/etc/redis/redis.conf
      volumes:
        - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
        - redis:/data
      ports:
        - "6379:6379"
      networks:
        - webapi_network
      restart: unless-stopped

      
    



volumes:
 postgres:
 pgadmin:
 redis:
 logs:

  

networks:
  webapi_network:
    driver: bridge
  
